/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}

html {
  font: 62.5% / 1.15 sans-serif;
}

h1,
h2 {}

ul {
  list-style: none;
  padding: 0;
}

button {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}

button::-moz-focus-inner {
  border: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

input[type="text"] {
  border-radius: 0;
}

body {
  background-color: whitesmoke;
  color: #4d4d4d;
  font: 1.6rem/1.25 Arial, sans-serif;
  margin: 0 auto;
  max-width: 68rem;
  width: 100%;
}

@media screen and (width >=620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}

/* End resets */
/* Global styles */

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.form-group>input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}

.btn {
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  padding: 0.8rem 1rem 0.7rem;
  text-transform: capitalize;
  margin-left: 3rem;
}

.btn.toggle-btn {
  border-color: lightgray;
  border-width: 1px;
}

.btn.toggle-btn[aria-pressed="true"] {
  border-color: #4d4d4d;
  text-decoration: underline;
}

.btn__danger {
  background-color: #ca3c3c;
  border-color: #bd2130;
  color: white;
}

.btn__filter {
  border-color: lightgrey;
}

.btn__primary {
  background-color: rgb(23, 159, 57);
  padding: 2rem;
  margin-left: 2rem;
  color: white;
  width: 25%;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-group>* {
  flex: 1 1 20%;
  width: 100%;
}

.btn-group>*+* {
  margin-left: 0;
}

.label-wrapper {
  margin: 0;
  text-align: center;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[class*="stack"]>* {
  margin-bottom: 0;
  margin-top: 0;
}

.stack-small>*+* {
  margin-top: 1.25rem;
}

.stack-large>*+* {
  margin-top: 2.5rem;
}

@media screen and (width >=550px) {
  .stack-small>*+* {
    margin-top: 1.4rem;
  }

  .stack-large>*+* {
    margin-top: 2.8rem;
  }
}

.todo-exception {
  margin-top: 5rem;
}

/* End global styles */
/* General app styles */
.todoapp {
  background: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  position: relative;
}

@media screen and (width >=550px) {
  .todoapp {
    padding: 4rem;
  }
}

.todoapp>* {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.todoapp>form {
  max-width: 100%;
}

.todoapp>h1 {
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  max-width: 100%;
}

.todoapp>.btn-group {
  margin-left: 0;
}

.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.input__lg {
  border: 2px solid black;
  padding: 2rem;
  margin-top: 5rem;
  width: 70%;
}

.input__lg:focus-visible {
  border-color: #4d4d4d;
  box-shadow: inset 0 0 0 2px;
}

[class*="__lg"] {
  font-size: 1.9rem;
}

[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (width >=620px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}

/* End general app styles */
/* Todo item styles */
.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.todo>* {
  flex: 0 0 100%;
}

.todo-text {
  border: 2px solid #565656;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

.todo-text:focus-visible {
  box-shadow: inset 0 0 0 2px;
}

.check {
  width: 20px;
  height: 20px;
  margin: 15px;
  cursor: pointer;
  accent-color: #007bff;
}